In [1]:
import pandas as pd
import os

In [9]:
city_dfs = {}
for f in os.listdir('../Resources/finished_city_dfs'):
    city_dfs[f.split('.')[0]] = pd.read_csv(f'../Resources/finished_city_dfs/{f}')

In [10]:
for city in city_dfs:
    print(city)

SanAntonio_df
Jacksonville_df
LosAngeles_df
NewYork_df
Boston_df
Miami_df
Seattle_df
Portland_df
Denver_df
Houston_df
Indianapolis_df
Philadelphia_df
Minneapolis_df
Atlanta_df
LasVegas_df
Phoenix_df
SanFrancisco_df
Charlotte_df
SanDiego_df
Albuquerque_df
KansasCity_df
Dallas_df
Detroit_df
SaintLouis_df
Nashville_df
Pittsburgh_df
Chicago_df

In [36]:
city_dfs['SanFrancisco_df'].head()

,Unnamed: 0,Date and Time,Temperature,Humidity,Wind_Speed,Wind_Direction,Pressure,Weather_Description,Year,Month,...,Year Wind_Speed Average,Month Wind_Speed Max,Month Wind_Speed Min,Month Wind_Speed Average,Year Humidity Max,Year Humidity Min,Year Humidity Average,Month Humidity Max,Month Humidity Min,Month Humidity Average
0,1,2012-10-01 13:00:00,289.480000,88.0,2.0,150.0,1009.0,light rain,2012,10,...,3.066055,15.0,0.0,2.295684,100.0,11.0,71.116055,100.0,6.0,75.6118
1,2,2012-10-01 14:00:00,289.474993,87.0,2.0,147.0,1009.0,sky is clear,2012,10,...,3.066055,15.0,0.0,2.295684,100.0,11.0,71.116055,100.0,6.0,75.6118
2,3,2012-10-01 15:00:00,289.460618,86.0,2.0,141.0,1009.0,sky is clear,2012,10,...,3.066055,15.0,0.0,2.295684,100.0,11.0,71.116055,100.0,6.0,75.6118
3,4,2012-10-01 16:00:00,289.446243,85.0,2.0,135.0,1009.0,sky is clear,2012,10,...,3.066055,15.0,0.0,2.295684,100.0,11.0,71.116055,100.0,6.0,75.6118
4,5,2012-10-01 17:00:00,289.431869,84.0,2.0,129.0,1009.0,sky is clear,2012,10,...,3.066055,15.0,0.0,2.295684,100.0,11.0,71.116055,100.0,6.0,75.6118

In [19]:
short_dfs = {}
for city in city_dfs:
    short_dfs[city] = city_dfs[city].loc[city_dfs[city]['Year'] == 2016,:]

In [20]:
for df in short_dfs:
    short_dfs[df].to_csv(f'../Resources/limit_one_year_csv/2016_{df}.csv')