In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Resources/finished_city_dfs/Albuquerque_df.csv")
df["City"] = "Albuquerque"
df2 = pd.read_csv("../Resources/finished_city_dfs/Atlanta_df.csv")
df2["City"] = "Atlanta"
df3 = pd.read_csv("../Resources/finished_city_dfs/Boston_df.csv")
df3["City"] = "Boston"
df4 = pd.read_csv("../Resources/finished_city_dfs/Charlotte_df.csv")
df4["City"] = "Charlotte"
df5 = pd.read_csv("../Resources/finished_city_dfs/Chicago_df.csv")
df5["City"] = "Chicago"
df6 = pd.read_csv("../Resources/finished_city_dfs/Dallas_df.csv")
df6["City"] = "Dallas"
df7 = pd.read_csv("../Resources/finished_city_dfs/Denver_df.csv")
df7["City"] = "Denver"
df8 = pd.read_csv("../Resources/finished_city_dfs/Detroit_df.csv")
df8["City"] = "Detroit"
df9 = pd.read_csv("../Resources/finished_city_dfs/Houston_df.csv")
df9["City"] = "Houston"
df10 = pd.read_csv("../Resources/finished_city_dfs/Indianapolis_df.csv")
df10["City"] = "Indianapolis"
df11 = pd.read_csv("../Resources/finished_city_dfs/Jacksonville_df.csv")
df11["City"] = "Jacksonville"
df12 = pd.read_csv("../Resources/finished_city_dfs/KansasCity_df.csv")
df12["City"] = "Kansas City"
df13 = pd.read_csv("../Resources/finished_city_dfs/LasVegas_df.csv")
df13["City"] = "Las Vegas"
df14 = pd.read_csv("../Resources/finished_city_dfs/LosAngeles_df.csv")
df14["City"] = "Los Angeles"
df15 = pd.read_csv("../Resources/finished_city_dfs/Miami_df.csv")
df15["City"] = "Miami"
df16 = pd.read_csv("../Resources/finished_city_dfs/Nashville_df.csv")
df16["City"] = "Nashville"
df17 = pd.read_csv("../Resources/finished_city_dfs/NewYork_df.csv")
df17["City"] = "New York"
df18 = pd.read_csv("../Resources/finished_city_dfs/Philadelphia_df.csv")
df18["City"] = "Philadelphia"
df19 = pd.read_csv("../Resources/finished_city_dfs/Phoenix_df.csv")
df19["City"] = "Phoenix"
df20 = pd.read_csv("../Resources/finished_city_dfs/Pittsburgh_df.csv")
df20["City"] = "Pittsburgh"
df21 = pd.read_csv("../Resources/finished_city_dfs/Portland_df.csv")
df21["City"] = "Portland"
df22 = pd.read_csv("../Resources/finished_city_dfs/SaintLouis_df.csv")
df22["City"] = "Saint Louis"
df23 = pd.read_csv("../Resources/finished_city_dfs/SanAntonio_df.csv")
df23["City"] = "San Antonio"
df24 = pd.read_csv("../Resources/finished_city_dfs/SanDiego_df.csv")
df24["City"] = "San Diego"
df25 = pd.read_csv("../Resources/finished_city_dfs/SanFrancisco_df.csv")
df25["City"] = "San Francisco"
df26 = pd.read_csv("../Resources/finished_city_dfs/Seattle_df.csv")
df26["City"] = "Seattle"

In [3]:
df = df.append(df2, ignore_index=True)
df = df.append(df3, ignore_index=True)
df = df.append(df4, ignore_index=True)
df = df.append(df5, ignore_index=True)
df = df.append(df6, ignore_index=True)
df = df.append(df7, ignore_index=True)
df = df.append(df8, ignore_index=True)
df = df.append(df9, ignore_index=True)
df = df.append(df10, ignore_index=True)
df = df.append(df11, ignore_index=True)
df = df.append(df12, ignore_index=True)
df = df.append(df13, ignore_index=True)
df = df.append(df14, ignore_index=True)
df = df.append(df15, ignore_index=True)
df = df.append(df16, ignore_index=True)
df = df.append(df17, ignore_index=True)
df = df.append(df18, ignore_index=True)
df = df.append(df19, ignore_index=True)
df = df.append(df20, ignore_index=True)
df = df.append(df21, ignore_index=True)
df = df.append(df22, ignore_index=True)
df = df.append(df23, ignore_index=True)
df = df.append(df24, ignore_index=True)
df = df.append(df25, ignore_index=True)
df = df.append(df26, ignore_index=True)

cities_df = pd.read_csv("../Resources/city_attributes.csv")

In [4]:
df = df.merge(cities_df, how="left", on="City")
df.head()

,Unnamed: 0,Date and Time,Temperature,Humidity,Wind_Speed,Wind_Direction,Pressure,Weather_Description,Year,Month,...,Year Humidity Max,Year Humidity Min,Year Humidity Average,Month Humidity Max,Month Humidity Min,Month Humidity Average,City,Country,Latitude,Longitude
0,1,2012-10-01 13:00:00,285.120000,50.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
1,2,2012-10-01 14:00:00,285.154558,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
2,3,2012-10-01 15:00:00,285.233952,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
3,4,2012-10-01 16:00:00,285.313345,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
4,5,2012-10-01 17:00:00,285.392738,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138

In [5]:
df = df.loc[:,['Date and Time', 'Temperature', 'Humidity', 'Wind_Speed',
       'Wind_Direction', 'Pressure', 'Weather_Description', 'Year', 'Month',
       'Day', 'Hour', 'City', 'Latitude', 'Longitude']]
df.head()

,Date and Time,Temperature,Humidity,Wind_Speed,Wind_Direction,Pressure,Weather_Description,Year,Month,Day,Hour,City,Latitude,Longitude
0,2012-10-01 13:00:00,285.120000,50.0,4.0,360.0,1024.0,sky is clear,2012,10,1,13,Albuquerque,35.084492,-106.651138
1,2012-10-01 14:00:00,285.154558,49.0,4.0,360.0,1024.0,sky is clear,2012,10,1,14,Albuquerque,35.084492,-106.651138
2,2012-10-01 15:00:00,285.233952,49.0,4.0,360.0,1024.0,sky is clear,2012,10,1,15,Albuquerque,35.084492,-106.651138
3,2012-10-01 16:00:00,285.313345,49.0,4.0,360.0,1024.0,sky is clear,2012,10,1,16,Albuquerque,35.084492,-106.651138
4,2012-10-01 17:00:00,285.392738,49.0,4.0,360.0,1024.0,sky is clear,2012,10,1,17,Albuquerque,35.084492,-106.651138

In [13]:
df.to_csv("classifier_dataset.csv", index=False)